body {
  margin: auto;
  width: 60%;
  color: greenyellow;
  background-color: dimgrey;
  padding: 10pt;
  font-family:sans-serif;
}
img {

}

h1 {
  color: fuchsia;
  text-decoration: underline;
  text-align: center;
  text-transform: capitalize;
}
h2{
  color: darkorange;
  text-transform: capitalize;
}

h3 {
  text-transform: capitalize
}
.circularpic{
  display: block;
  margin: auto;
  width:50%;
  border-radius: 10%;
}

a:link {color:fuchsia; }
a:visited {color: darkgrey; }
a:hover {color:pink; }
a:active { color:darkorange; }
